

@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	background: #e1dfdf;
}

.text{
	margin-left: 80px;
	font-family: 'Noticia Text', serif;
	color: #5e5757;
}
.text p {
	font-size: 45px;
	font-family: 'Noticia Text', serif;
	color: #5e5757;
	margin-bottom: 3%;
}

.myImg{
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.myImg img{
	border: 3px solid #e1dfdf;	
	border-radius: 500px;
}

.left-nav{
	display: flex;
}
.right-nav{
	display: flex;
}
.nav-list{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 4%;
}
.nav-list li{
	list-style: none;
	padding-left: 2%;
	margin-top: 3%;
	margin-bottom: 5%;
}
.nav-list li a{
	text-decoration: none;
	color: #5e5757;
	margin-left: 50px;
	font-size: 15px;
	font-family: 'Noticia Text', serif;
	font-weight: bold;
}
.nav-list li a:hover{
	text-decoration: none;
	color: #47cde6;
}

.container{
	display: flex;
	margin-left: 8%;
	margin-bottom: 6%;
}

.name{
	font-size: 50px;
	font-family: 'Noticia Text', serif;
	color: #5e5757;
	margin-top: 2%;
	margin-left: 14%;
	font-weight: bold;
}
.hello{
	font-size: 50px;
	margin-bottom: 4%;
}
.about-me{
	font-size: 25px;
}
.intro p{
	padding-right: 10%;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 4%;
}

.footer {
	background-color: #e13354;
	display: flex;
	justify-content: center;
}
.footer li {
	background-color: #e13354;
	list-style: none;
	padding-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	color: white;
}
.footer li a{
	text-decoration: none;
	color: #5e5757;
	margin-left: 50px;
	font-size: 15px;
	font-family: 'Noticia Text', serif;
	font-weight: bold;
}

.dot{
	display: flex;
}
.reddot {
	height: 150px;
	width: 150px;
	display: flex;
	border-radius: 100%;
	background-color: #e13354;;
	margin-left: 2%;
}

.reddot a{
	color: white;
	background: content-box;
	font-size: 15px;
	margin-left: 20%;
	margin-top: 42%;
}
.reddot a:hover{
	text-decoration: none;
	color: #5e5757;
}
.bluedot {
	height: 150px;
	width: 150px;
	display: flex;
	border-radius: 100%;
	background-color: #47cde6;
	margin-left: 5%;
}
.bluedot a{
	color: white;
	background: content-box;
	font-size: 15px;
	margin-left: 25%;
	margin-top: 42%;
}
.bluedot a:hover{
	text-decoration: none;
	color: #5e5757;
}
.greendot {
	height: 150px;
	width: 150px;
	display: flex;
	border-radius: 100%;
	background-color: #a7b543;
	margin-left: 5%;
}
.greendot a{
	color: white;
	background: content-box;
	font-size: 15px;
	margin-left: 27%;
	margin-top: 42%;
}
.greendot a:hover{
	text-decoration: none;
	color: #5e5757;
}

