
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	background: #e1dfdf;
	padding-right: 10px;
}

.myImg{
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;	
}

.myImg img{
	border: 3px solid #e1dfdf;	
	border-radius: 500px;
}

.left-nav{
	display: flex;
}

.right-nav{
	display: flex;
}

.text p {
	font-size: 45px;
	font-family: 'Noticia Text', serif;
	color: #5e5757;
}
.nav-list{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	padding-left: 300px;
}

.nav-list li{
	list-style: none;
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 50px;
}

.nav-list li a{
	text-decoration: none;
	color: #5e5757;
	margin-left: 50px;
	font-size: 15px;
	font-family: 'Noticia Text', serif;
	font-weight: bold;
}

.container{
	display: flex;
	margin-left: 150px;
	margin-bottom: 10%;
}

.nav-list li a:hover{
	text-decoration: none;
	color: #49d9f3;
}


.text{
	margin-left: 125px;
	font-family: 'Noticia Text', serif;
	color: #5e5757;
}
.name{
	font-size: 50px;
	font-family: 'Noticia Text', serif;
	color: #5e5757;
	margin-top: 50px;
	margin-left: 160px;
	font-weight: bold;
}
.hello{
	font-size: 50px;
	margin-bottom: 30px;
}
.about-me{
	font-size: 25px;
}
.intro p{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
.about-me-imgs img{
	width: 20%;
	border-radius: 513px;
	padding: 10px;
}
.footer {
	background-color: #e13354;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.footer li {
	background-color: #e13354;
	list-style: none;
	padding: 30px;
	margin-top: 25px;
	margin-bottom: 50px;
	color: white;
}
.footer li a{
	text-decoration: none;
	color: #5e5757;
	margin-left: 50px;
	font-size: 15px;
	font-family: 'Noticia Text', serif;
	font-weight: bold;
}
