
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	background: #e1dfdf;
}

.header{
	display: flex;
}
.text{
	font-family: 'Noticia Text', serif;
	color: #5e5757;
	margin-left: 5%;
}
.text p {
	font-size: 45px;
	font-family: 'Noticia Text', serif;
	color: #5e5757;
	margin-bottom: 3%;
}

.nav-bar{
	display: flex;
}
.nav-list{
	display: flex;
	align-items: center;
	margin-left: 5%;
}
.nav-list li{
	list-style: none;
	margin-top: 4%;
	margin-left: 2%;
	
}
.nav-list li a{
	text-decoration: none;
	color: #5e5757;
	margin-left: 50px;
	font-size: 15px;
	font-family: 'Noticia Text', serif;
	font-weight: bold;
}
.nav-list li a:hover{
	text-decoration: none;
	color: #47cde6;
}

.container{
	display: flex;
	margin-left: 17%;
	margin-right: 20%;
}
.container img{	
	border-radius: 90%;
}

.name-desg {
	margin-top: 2%;
	margin-left: 21%;
	margin-bottom: 4%;
}
.name-desg h3{
	font-size: 43px;
	font-family: 'Noticia Text', serif;
	color: #5e5757;
}
.name-desg p{
	font-size: 18px;
	font-family: 'Noticia Text', serif;
	color: #5e5757;
}

.hello{
	font-size: 50px;
	margin-bottom: 4%;
}
.about-me{
	font-size: 40px;
}
.intro p{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 48%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.footer {
	background-color: #e13354;
	display: flex;
	justify-content: center;
}
.footer li {
	background-color: #e13354;
	list-style: none;
	padding-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	color: white;
}
.footer li a{
	text-decoration: none;
	color: #5e5757;
	margin-left: 50px;
	font-size: 15px;
	font-family: 'Noticia Text', serif;
	font-weight: bold;
}

.dot{
	display: flex;
}
.reddot {
	height: 150px;
	width: 170px;
	display: flex;
	border-radius: 100%;
	background-color: #e13354;;
}

.reddot a{
	color: white;
	background: content-box;
	font-size: 15px;
	margin-left: 21%;
	margin-top: 42%;
	font-family: 'Open Sans', sans-serif;
}
.reddot a:hover{
	text-decoration: none;
	color: #5e5757;
}
.bluedot {
	height: 150px;
	width: 170px;
	display: flex;
	border-radius: 100%;
	background-color: #47cde6;
	margin-left: 5%;
}
.bluedot a{
	color: white;
	background: content-box;
	font-size: 15px;
	margin-left: 26%;
	margin-top: 42%;
	font-family: 'Open Sans', sans-serif;
}
.bluedot a:hover{
	text-decoration: none;
	color: #5e5757;
}
.greendot {
	height: 150px;
	width: 170px;
	display: flex;
	border-radius: 100%;
	background-color: #a7b543;
	margin-left: 5%;
}
.greendot a{
	color: white;
	background: content-box;
	font-size: 15px;
	margin-left: 29%;
	margin-top: 42%;
	font-family: 'Open Sans', sans-serif;
}
.greendot a:hover{
	text-decoration: none;
	color: #5e5757;
}

